:host {
    display: flex;
    flex-direction: column; /* IMPORTANTE: Colocar header arriba y main abajo */
    height: 100vh;          /* Ocupa toda la ventana */
    width: 100vw;
}

header {
    width: 100%;
    background: var(--c-color-secundary-1);
    border-bottom: 1px solid var(--c-color-secundary-2);
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    flex-shrink: 0; /* evita que el header se contraiga */
}

main {
    flex: 1;                 /* Ocupa todo el espacio restante */
    width: 100%;
    display: flex;
    overflow: hidden;        /* Evita scroll innecesario en main */
}

aside {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: var(--c-color-secundary-1);
    border-right: 1px solid var(--c-color-secundary-2);
    height: 100%;
    padding: 20px 10px;
    overflow-y: auto;
    transition: width 0.3s ease;
    white-space: nowrap;
}

aside.collapsed {
    width: 60px;
}

section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #ffffff;
    transition: all 0.3s ease;
}