*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
}

:host,
:root {
    --spacing: .25rem;

    --button-border-radius: 7px;

    --transition-change-color-theme: 300ms;

    /*color-scheme: light dark;*/
    --font-10: 0.615rem;
    /* 12px */

    --font-12: 0.75rem;
    /* 12px */

    --font-14: 0.875rem;
    /* 14px */

    --font-16: 1rem;
    /* 16px */

    --font-18: 1.125rem;
    /* 18px */

    --gray-1000: oklch(16.93% .004 285.95);
    --gray-900: oklch(19.37% .006 300.98);
    --gray-800: oklch(25.16% .008 308.11);
    --gray-700: oklch(36.98% .014 302.71);
    --gray-600: oklch(44% .019 306.08);
    --gray-500: oklch(54.84% .023 304.99);
    --gray-400: oklch(70.9% .015 304.04);
    --gray-300: oklch(84.01% .009 308.34);
    --gray-200: oklch(91.75% .004 301.42);
    --gray-100: oklch(97.12% .002 325.59);
    --gray-50: oklch(98.81% 0 0);

    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    --button-box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.1),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --button-box-shadow-hover:
        0px 3px 3px -2px rgba(0, 0, 0, 0.1),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

html.color-scheme-dark {
    --scroll-thumb-bg-color: #746e7c;
    --scroll-thumb-bg-color-hv: #a39fa9;

    --c-color-secundary-1: rgb(38, 38, 38);
    --c-color-secundary-2: rgb(84, 84, 84);

    --color-font: rgb(255, 255, 255);

}

html.color-scheme-light {
    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    --c-color-secundary-1: rgb(250, 250, 255);
    --c-color-secundary-2: rgb(220, 220, 220);

    --color-font: rgb(0, 0, 0);


}

body.color-scheme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bg-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-bg-color-hv);
}

::-webkit-scrollbar-track {
    background: transparent;
}

svg {
    display: block;
    color: var(--color-font);
}

.icono-1 {
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
}

.icono-2 {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
}

.icono-3 {
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
}

.icono-4 {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
}

button {
    border: none;
    background: none;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    gap: 5px;
}

button span {
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
    transition: color var(--transition-change-color-theme);
}

a {
    border: none;
    text-decoration: none;
    background: none;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 10px;

}

a span {
    color: var(--color-font);
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
    transition: color var(--transition-change-color-theme);
}





.btn-primary {
    position: relative;
    background-color: #3ea300;
    padding: 0.4rem 1rem;
    box-shadow: var(--button-box-shadow);
    transition: transform ease 100ms;
    z-index: 0;
}

.btn-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: calc( 100% - 2px);
    background-color: #02e615;
    border-radius: var(--button-border-radius);
    transition: height ease 100ms, background-color 100ms;
    z-index: -1;

}
.btn-primary:hover::after {
    background-color: #57da00;
}

.btn-primary:active {
    transform: translateY(2px);
}
.btn-primary:active::after {
    height: 100% ;
}