*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;
}

:host,
:root {

    /* Permite a los navegadores usar UI nativa en light/dark */
    color-scheme: light dark;

    /* Spacing */
    --spacing: .25rem;

    /* Border radius */
    --button-border-radius: 7px;

    /* Tipografías */
    --font-10: 0.615rem;
    --font-12: 0.75rem;
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;

    /* Grises OKLCH */
    --gray-1000: oklch(16.93% .004 285.95);
    --gray-900: oklch(19.37% .006 300.98);
    --gray-800: oklch(25.16% .008 308.11);
    --gray-700: oklch(36.98% .014 302.71);
    --gray-600: oklch(44% .019 306.08);
    --gray-500: oklch(54.84% .023 304.99);
    --gray-400: oklch(70.9% .015 304.04);
    --gray-300: oklch(84.01% .009 308.34);
    --gray-200: oklch(91.75% .004 301.42);
    --gray-100: oklch(97.12% .002 325.59);
    --gray-50: oklch(98.81% 0 0);

    /* Scroll */
    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    /* Shadows */
    --button-box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.1),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --button-box-shadow-hover:
        0px 3px 3px -2px rgba(0, 0, 0, 0.1),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    /* Colores por defecto (modo automático) */
    --c-color-secundary-1: rgb(255, 255, 255);
    /* Light */
    --c-color-secundary-2: rgb(220, 220, 220);
    /* Light */
    --color-font: rgb(0, 0, 0);
}

html.color-scheme-light {
    color-scheme: light;

    --scroll-thumb-bg-color: #ccc9cf;
    --scroll-thumb-bg-color-hv: #746e7c;

    --c-color-secundary-1: rgb(255, 255, 255);
    --c-color-secundary-2: rgb(220, 220, 220);

    --color-font: rgb(0, 0, 0);
}

html.color-scheme-dark {
    color-scheme: dark;

    --scroll-thumb-bg-color: #746e7c;
    --scroll-thumb-bg-color-hv: #a39fa9;

    --c-color-secundary-1: rgb(38, 38, 38);
    --c-color-secundary-2: rgb(84, 84, 84);

    --color-font: rgb(255, 255, 255);
}


body.color-scheme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bg-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-bg-color-hv);
}

::-webkit-scrollbar-track {
    background: transparent;
}

svg {
    display: block;
    color: var(--color-font);
}


[class^="icono-"] {
  width: calc(var(--spacing) * var(--i));
  height: calc(var(--spacing) * var(--i));
}
.icono-1 { --i: 5; }
.icono-2 { --i: 6; }
.icono-3 { --i: 7; }
.icono-4 { --i: 8; }

button {
    border: none;
    background: none;
    display: inline-flex;
    align-items: center;
    align-content: center;  
    user-select: none;
    cursor: pointer;
    gap: 5px;
}

button span {
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
}

a {
    border: none;
    text-decoration: none;
    background: none;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 10px;

}

a span {
    color: var(--color-font);
    display: flex;
    align-items: center;
    font-size: var(--font-12);
    font-weight: 300;
    white-space: nowrap;
}

.btn {
    position: relative;
    padding: 0.4rem 1rem;
    box-shadow: var(--button-box-shadow);
    transition: transform ease 100ms;
    border-radius: var(--button-border-radius);
    background-color: var(--btn-bg);
    z-index: 0;
}

.btn span {
    color: var(--btn-text, #222);
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 2px);
    background-color: var(--btn-bg-accent);
    border-radius: inherit;
    transition: height 100ms ease, background-color 100ms;
    z-index: -1;
}

.btn:hover::after {
    background-color: var(--btn-bg-hover);
}

.btn:active {
    transform: translateY(2px);
}

.btn:active::after {
    height: 100%;
}

.btn-primary {
    --btn-bg: #3ea300;
    --btn-bg-accent: #02e615;
    --btn-bg-hover: #57da00;
    --btn-text: #222;
}

.btn-danger {
    --btn-bg: #d32f2f;
    --btn-bg-accent: #ff5252;
    --btn-bg-hover: #e53935;
    --btn-text: #fff;
}

.btn-info {
    --btn-bg: #1976d2;
    --btn-bg-accent: #42a5f5;
    --btn-bg-hover: #1e88e5;
    --btn-text: #fff;
}

.btn-secondary {
    --btn-bg: #c4cad0;
    --btn-bg-accent: #dce1e8;
    --btn-bg-hover: #c0c6cd;
    --btn-text: #000;
}

.btn-disabled {
    --btn-bg: #d6d6d6;
    --btn-bg-accent: #c2c2c2;
    --btn-bg-hover: #d6d6d6;
    --btn-text: #8a8a8a;
    
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
