:host {
  display: inline-flex;
  position: sticky;
  top: 0;
}

header {
  

  background-color: var(--c-color-secundary-1);
  padding: 10px 50px;
  gap: 15px;
  display: inline-flex;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid var(--c-color-secundary-2);
  transition: background-color var(--transition-change-color-theme);

}

nav {
  display: flex;
  flex: 1;
  gap: 30px;
  justify-content: center;
}

.logo span{
  font-size: var(--font-14);
  font-weight: 500;
}